.label {
  input[type='checkbox'] {
    display: none;
  }
  div {
    background-color: #eee;
    border: 0.1rem solid #eee;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    font-weight: 600;
    min-width: 8.4rem;
    span {
      color: #888;
    }
    &.active {
      border: 0.1rem solid #ffddc1;
      span {
        color: #ed7a00;
      }
      background-color: #fff5ed;
    }
  }
}
